* :not(i) {
    font-family: 'Open Sans', sans-serif;


}

body {
    height: 100%;
    display: block;
    text-align: center;
    z-index: 0;
}

#particles-js {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.navb {
    height: 50px;
    background-color: #9b59b6;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.navb h2 {
    color: white;
}

.navb a {
    margin-left: auto;
    margin-right: 25px;
    position: absolute;
    right: 0;
    transition: .2s ease color;
}

.navb a:hover {
    color: lightgrey;
    text-decoration: none;
}


.navb h1 {
    margin: 0 auto;
}

.g-signin2{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.signout{
    display: none;
    color: white;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 5px;
}

.signout a:hover{
    cursor: pointer;
}

.container {
    z-index: 2;
    margin-top: 50px;
}

.center-block {
    margin: 0 auto;
}

.multi-choice-cycle {
    display: inline-block;
    width: 200px;
    font-size: 15pt;
}

.multi-choice-cycle h4 {
    font-weight: bold;
    font-size: 20pt;
}

.cycle-up:hover,
.cycle-down:hover {
    cursor: pointer !important;
}

.mc-value {
    border: 1px solid #8e44ad;
    border-radius: 5px;
    background-color: white;
}

#gen {
    margin-top: 50px;
}

#gen * {
    vertical-align: middle;
}

.button-wrapper {
    display: inline-block;
    font-size: 15pt;
}

.button-wrapper {
    color: rgba(255, 255, 255, 0);
}

.button-wrapper i:hover {
    cursor: default !important;
}

.button-wrapper button {
    display: block;
}

.button-wrapper button:hover {
    cursor: pointer;
}

.hide-value {
    display: none;
}

.mc-value,
.multi-choice-cycle {
    user-select: none;
}

.history-wrapper {
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .7);
    width: 500px;
    border-radius: 10px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.45);
}

.history-wrapper h2 {
    width: 100%;
    text-align: center;
}

.history-wrapper li {
    list-style: none;
}

.history-wrapper li:not(:last-child) {
    border-bottom: 1px solid lightgrey;
    list-style: none;
}

.download-song{
    vertical-align: top;
}

.delete-song, .edit-song{
    float: right;
    vertical-align: top;
}

.history-entry{
    margin-top: 5px;
    margin-bottom: 5px;
}

#empty-history{
    font-style: italic;
    color: grey;
    margin: 0 auto;
}

audio{
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.song-ts{
    color: grey !important;
    font-style: italic;
    display: block;
    font-size: .9em;
}

.loading{
    height: 50px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9b59b6;
    opacity: .6;
    display: none;
}

.spinner {
    margin: 0 auto;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
    display: inline-block;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #9b59b6;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
