<html>

<head>
  <title>TheWimbo Generator</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/then-request/2.2.0/request.min.js"></script>
  <meta name="google-site-verification" content="iBIvT_kxRR2VM0Ev0FggX6zbaIyHThAYGnXrNj-szNw" />
</head>

<div id="particles-js"></div>

<body>

  <div class="navb">
    <h2 class="center-block">
      MusicGen
      <i class="fa fa-music"></i>
    </h2>
    <a href="/sign_in">
      Sign In with Google <i class="fa fa-sign-in" aria-hidden="true"></i>
    </a>
  </div>
  <div class="container">
    <form class="center-block" id="gen">
      <div class="multi-choice-cycle">
        <h4>Genre</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <div class="mc-value">
          <span>Jazz</span>
          <span class="hide-value">Rock</span>
          <span class="hide-value">Pop</span>
          <span class="hide-value">Classical</span>
          <span class="hide-value">Hip Hop</span>
        </div>
        <i class="cycle-down fa fa-chevron-down"></i>
      </div>

      <div class="multi-choice-cycle">
        <h4>Tempo</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <div class="mc-value">
          <span>Slow</span>
          <span class="hide-value">Normal</span>
          <span class="hide-value">Fast</span>
        </div>
        <i class="cycle-down fa fa-chevron-down"></i>
      </div>

      <div class="multi-choice-cycle">
        <h4>Duration</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <div class="mc-value">
          <span class="hide-value">Short</span>
          <span>Medium</span>
          <span class="hide-value">Long</span>
        </div>
        <i class="cycle-down fa fa-chevron-down"></i>
      </div>
      <div class="button-wrapper">
        <h4>.</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <button class="btn btn-primary">
          Generate
        </button>
        <i class="cycle-up fa fa-chevron-up"></i>
      </div>
    </form>

    <span id="media-viewer">
      <audio controls>
        <source src="{{ url_for('static', filename='SampleAudio_0.4mb.mp3') }}" type="audio/mpeg">
        Could not find Audio Resource.
      </audio>
      <a href="{{ url_for('static', filename='SampleAudio_0.4mb.mp3') }}">
        <button id="download-button" class="btn btn-info">
          <i class="fa fa-download"></i>
        </button>
      </a>
    </span>

    <div class="history-wrapper center-block list-group" id="song-history-list">
      <h2>Your Generation History</h2>
      <!--
      <li><a href="#">Song 1 - February 1st, 2019 at 5:54pm</a></li>
      <li><a href="#">Song 2 - February 2nd, 2019 at 6:21pm</a></li>
      <li><a href="#">Song 3 - February 4th, 2019 at 2:12pm</a></li>
      <li><a href="#">Song 4 - February 5th, 2019 at 9:44am</a></li>
      <li><a href="#">Song 5 - February 6th, 2019 at 9:32pm</a></li>
    -->

    </div>
  </div>
</body>
<footer>
  <script>
    var api_url = "{{ app.config['API_URL'] }}";
  </script>
  <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
  <script>
    particlesJS.load('particles-js', "{{ url_for('static', filename='js/particles.json') }}", function () {
    });
  </script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</footer>

</html>