<html>

<head>
  <title>TheWimbo Generator</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
  <meta name="google-site-verification" content="iBIvT_kxRR2VM0Ev0FggX6zbaIyHThAYGnXrNj-szNw" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id"
    content="847545686473-mvjhn9onpmvb6oih33lm81f6opcdo1g0.apps.googleusercontent.com">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">

</head>

<div id="particles-js"></div>

<body>

  <div class="navb">
    <h2 class="center-block">
      Wimbo
      <i class="fa fa-music"></i>
    </h2>
    <!--<a href="/sign_in">
      Sign In with Google <i class="fa fa-sign-in" aria-hidden="true"></i>
    </a>-->
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div class="signout">
      <span id="greeting"></span>
      <a onclick="signOut();">
        Sign out <i class="fa fa-sign-in" aria-hidden="true"></i>
      </a>
    </div>
    <script>
      function signOut() {
        profileID = null;
        profileEmail = null;
        $('.g-signin2').show();
        $('.signout').hide();
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
  </div>

  <span class="browser-warnings" id="js-off-warning">
    Some scripts failed. Is your browser blocking scripts?
  </span>
  <span class="browser-warnings" id="cookies-off-warning">
    Your browser is restricting use of cookies. This may prevent logging in. Try to turn off privacy mode and enable
    cookies.
  </span>

  <div class="container">
    <form class="center-block" id="gen">
      <div class="multi-choice-cycle">
        <h4>Genre</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <div class="mc-value">
          <span>Folk</span>
          <span class="hide-value">Classical</span>
          <span class="hide-value">Game</span>
        </div>
        <i class="cycle-down fa fa-chevron-down"></i>
      </div>

      <div class="multi-choice-cycle">
        <h4>Tempo</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <div class="mc-value">
          <span>Slow</span>
          <span class="hide-value">Normal</span>
          <span class="hide-value">Fast</span>
        </div>
        <i class="cycle-down fa fa-chevron-down"></i>
      </div>

      <div class="multi-choice-cycle">
        <h4>Duration</h4>
        <i class="cycle-up fa fa-chevron-up"></i>
        <div class="mc-value">
          <span class="hide-value">Short</span>
          <span>Medium</span>
          <span class="hide-value">Long</span>
        </div>
        <i class="cycle-down fa fa-chevron-down"></i>
      </div>
      <div class="button-wrapper">
        <h4>.</h4>
        <button class="btn btn-primary">
          Generate
        </button>
      </div>
    </form>
    <div class="loading" id="loading-div">

      <span>
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
        Generating Music
      </span>
    </div>
    <div class="history-wrapper center-block list-group" id="song-history-list">
      <h2>Your Generation History</h2>
      <div class="history-contents">

      </div>
      <span id="empty-history">No songs generated</span>
    </div>
  </div>
</body>
<footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/then-request/2.2.0/request.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.min.js"></script>

  <script>
    var api_url = "http://{{ app.config['API_URL'] }}";
    console.log(api_url)
  </script>
  <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
  <script>
    particlesJS.load('particles-js', "{{ url_for('static', filename='js/particles.json') }}", function () {
    });
  </script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</footer>

</html>